body {
	background: green;
	text-align: center;
	font-family: "Merriweather Sans", sans-serif;
}

.joystick {
	position: absolute;
	top: 151px;
	left: 103px;
	width: 34px;
	height: 34px;
	background: radial-gradient(circle at 35% 35%, white 2%, red 25%, black 95%);
	border: 0.5px solid black;
	border-radius: 50%;
	transition-duration: 20ms;
	z-index: 2;
}

.button {
	position: absolute;
	width: 60px;
	height: 60px;
	border: 1px solid #696969;
	border-radius: 50%;
	color: #bebebe;
	transition: 40ms;
	line-height: 60px;
	font-size: 1.8em;
	background-color: #a9a9a9;
}

.grid {
	stroke-width: 2;
	stroke: gray;
	fill: none;
}

.button-on-grid {
	position: absolute;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 1.5em;
	background: gray;
	border: 0.5px solid black;
	border-radius: 50%;
	opacity: 1;
	z-index: 3;
	box-shadow: 0.5px 0.5px 1px black;
	animation: impact 0.2s linear;
}

@keyframes impact {
	0% {
		transform: scale(103%);
	}
	50% {
		opacity: 1;
		transform: scale(100%);
	}
	70% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}

.pressed {
	transform: scale(108%);
	color: black;
	border-color: black;
	background-color: #696969;
}

/* dPad movements */
.up.left {
	transform: translate(-55px, -55px);
}

.up.right {
	transform: translate(55px, -55px);
}

.down.left {
	transform: translate(-55px, 55px);
}

.down.right {
	transform: translate(55px, 55px);
}

.left {
	transform: translate(-62px, 0);
}

.up {
	transform: translate(0, -62px);
}

.down {
	transform: translate(0, 62px);
}

.right {
	transform: translate(62px, 0);
}

/* mapping the buttons */
.button0 {
	left: 251px;
	top: 185px;
}

.button1 {
	left: 315px;
	top: 162px;
}

.button2 {
	left: 258px;
	top: 110.5px;
}

.button3 {
	left: 322px;
	top: 87px;
}

.button4 {
	left: 454px;
	top: 123.5px;
}

.button5 {
	left: 390px;
	top: 96px;
}

.button6 {
	left: 446px;
	top: 199px;
}

.button7 {
	left: 383px;
	top: 171px;
}

/* style menu buttons to be slimmer */

.button.menubutton {
	border-radius: 2px;
	height: 8px;
	width: 45px;
	top: 57px;
	font-size: 0.5rem;
	line-height: 30px;
}

.button.button8 {
	left: 411px;
	font-size: 0.35em;
}

.button.button9 {
	left: 461px;
	font-size: 0.6em;
}

.button.button10 {
	left: 311px;
}

.button.button11 {
	left: 361px;
}

/* style joystick grid */
.container {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 118px;
	left: 70.2px;
	transform: scale(140%);
}

/* animate the trail of the grid */
.path {
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	animation: dash 100ms linear forwards, linear colorChange 0.5s forwards,
		fadeOut 0.8s forwards;
}

/* animate the trail endpoints */
.start-point {
	animation: linear colorChange 0.5s forwards, linear fadeOut 0.8s forwards;
}

@keyframes dash {
	from {
		stroke-dashoffset: 1;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes colorChange {
	0% {
		stroke: red;
		fill: red;
	}
	100% {
		stroke: blue;
		fill: blue;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		stroke-width: 4;
	}
	60% {
		stroke-width: 4;
		opacity: 1;
	}
	100% {
		opacity: 0;
		stroke-width: 2;
	}
}
